/* custom styles */




/* Prevent overscroll for mac */
/*html, body {
  width: 100%;
  height: 100%;*/
  /*overflow: hidden;*/
/*}*/

body > div {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
/*html { 
  background: url(../img/pic.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/* End of Prevent overscroll for mac */


/* Body without navbar container */
.my-body-minus-nav {
  /*background: linear-gradient(to bottom,#ff8f00 0%,#ff6f00 100%);*/
}

/* 
=============================================================================
Home Page Styles
============================================================================= 
*/

.homePageCover{
    position: relative;
    min-height: 100vh;
    background: rgb(255, 255, 255) url('../img/morning-mountain.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    overflow: auto;
}

.homePageCover h1{
  letter-spacing: 9px;
  font-size: 60px;
  margin: 100px 0 40px 0;
}

.texture-overlay {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
}

#logoContainer {
    vertical-align: middle;
    width: 85px;
    
    height: auto;
    /*padding-bottom: 190px;*/
}

#logoContainer2 {
    width: 40px;
    /*padding-bottom: 190px;*/
}

#padMe190 {
    /*width: 100px;*/
}

/*Overide the button color for the page*/
.btn, .btn-large {
  background-color: #55b5ed;
}

/*Overide the button color for the page on hover*/
.btn:hover,.btn-large:hover {
  background-color: #88cbf2;
}


.padMyLogo{
    padding: 60px 0 60px 0;
}

#top-buttons{
  text-align: right;
}

/*Style For How it Works Section*/

section.howItWorks i {
    margin-right: 10px;
    color: #55b5ed;
    vertical-align: middle;
    font-size: 50px;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
section.howItWorks h1 {
    font-weight: 400;
    font-size: 20px;
}
section.howItWorks {
    padding: 10px;
    background-color: #f6f7f9;
}
section.howItWorks a {
    color: #323a45
}



/*Feature list*/
.features-list {
    padding: 10px 0
}
.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #24374b;
    font-size: 16px;
}
.features-list p {
    color: #778899;
}
.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
}
.feature-icon {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: solid 2px #cb5727;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}
.feature-icon i {
    color: #cb5727;
    padding-top:15px;
}
.card.medium .card-image{
  height: auto;
}

footer.page-footer {
  background: #55b5ed;
}

.input-field label:active {
    color: #cb5727;
}

nav {
    background-color: transparent;
}

/*@media only screen and (min-width: 601px)
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 0px;
}*/
