/* css/updatePage.css  */

/*Color for the lines in the form*/
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #55b5ed;
  box-shadow: 0 1px 0 0 #55b5ed;
}

/*The font after the field is clicked*/
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
   color: #55b5ed; 
}

.padTheform120{
     padding: 120px 0 100px 0;
}

.padTheform60{
     padding: 60px 0 80px 0;
}

.auth-form-container h1 {
    color: #fff;
    text-align: center;
    margin-top: 5%;
    font-size: 3.5rem;
}

.auth-form-container p {
    color: #fff;
    text-align: center;
    margin-top: 0;
}

/* AuthenticationForm container */
.auth-form-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(255, 255, 255) url('../img/pic4.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
    overflow: auto;

}

/* Authentication Form */
.auth-form {
  background-color:#fafafa;
  margin: 1rem auto 3rem;
  border-radius:5px;
  padding: 1.5rem 2rem 0.5rem!important;
}

.auth-form .auth-form-submit-button { 
    background-color: #55b5ed;
}