<section class="howItWorks" id="howItWorksSection">
   <div class="container">
      <div class="row">
         <div class="col s12 center-align">
            <h1>What is Intersect?</h1>
         </div>
         <div class="col s12 center-align">
            <i class="medium material-icons">work</i>
         </div>
      </div>
   </div>
</section>
<section class="features-list" id="features">
   <div class="container">
      <div class="row">
         <div class="col m12 center-align">
            <div class="col m4">
               <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                     <img class="activator" src="img/pic1.jpeg">
                     <h5>Find a person</h5>
                     <p>Find a person that has the skillset that matches what you seek. This will allow you to build the network you need to get your project moving.</p>
                  </div>
                  
               </div>
            </div>
            <div class="col m4">
               <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                     <img class="activator" src="img/pic2.jpg">
                  </div>
                  <!-- <div class="card-content"> -->
                  <h5>Find a project</h5>
                  <p>Projects are a great way to build up your skills. This leads to a great resume to help you get recruited.</p>
                  <!-- </div> -->
               </div>
            </div>
            <div class="col m4">
               <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                     <img class="activator" src="img/pic3.jpg">
                  </div>
                  <!-- <div class="card-content"> -->
                  <h5>Find a mentor</h5>
                  <p>You can find people with a ton of experience in a skillset you want to learn about. Working with a mentor can prepare you to build stronger projects.</p>
                  <!-- </div> -->
               </div>
            </div>                  
         </div>
      </div>
   </div>
</section>