<link rel="stylesheet" href="css/splashLogin.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input id="user-email" type="text" class="validate" ng-model="loginEmail">
      <label for="user-email">Email</label>
    </div>
    <div class="input-field col s6">
      <input id="user-pass" type="password" class="validate" ng-model="loginPass">
      <label for="user-pass">Password</label>
    </div>
    <div class="row">
      <div class="col s2 offset-s1 center-align">
        <button class="waves-effect waves-light btn" ng-click="handleUserCreation()">Sign Up</button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn" ng-click="handlePasswordLogin()">Login</button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn" ng-click="handleOAuthLogin('facebook')"><i class="fa fa-facebook"></i></button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn" ng-click="handleOAuthLogin('github')"><i class="fa fa-github-square"></i></button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn" ng-click="handleOAuthLogin('google')"><i class="fa fa-google"></i></button>
      </div>
    </div>
  </div>
</div>