<link rel="stylesheet" href="css/splashLogin.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input id="user-email" type="text" class="validate">
      <label for="user-email">Email</label>
    </div>
    <div class="input-field col s6">
      <input id="user-pass" type="password" class="validate">
      <label for="user-pass">Password</label>
    </div>
    <div class="row">
      <div class="col s3 offset-s2 center-align">
        <button class="waves-effect waves-light btn">Login</button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn"><i class="fa fa-facebook"></i></button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn"><i class="fa fa-github-square"></i></button>
      </div>
      <div class="col s2 center-align">
        <button class="waves-effect waves-light btn"><i class="fa fa-google"></i></button>
      </div>
    </div>
  </div>
</div>